# 0 youtube í¬ë¡¤ë§ text data ì›Œë“œí´ë¼ìš°ë“œ ì‹œê°í™”

# 1 ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¡œë“œ

In [1]:
import pandas as pd
import seaborn as sns 
import glob
import os
import matplotlib.pyplot as plt

## í°íŠ¸ ì„¤ì •

In [2]:
def get_font_family():
    """
    ì‹œìŠ¤í…œ í™˜ê²½ì— ë”°ë¥¸ ê¸°ë³¸ í°íŠ¸ëª…ì„ ë°˜í™˜í•˜ëŠ” í•¨ìˆ˜
    """
    import platform
    system_name = platform.system()

    if system_name == "Darwin" :
        font_family = "AppleGothic"
    elif system_name == "Windows":
        font_family = "Malgun Gothic"
    else:
        # Linux(Colab)
        !apt-get install fonts-nanum -qq  > /dev/null
        !fc-cache -fv

        import matplotlib as mpl
        mpl.font_manager._rebuild()
        findfont = mpl.font_manager.fontManager.findfont
        mpl.font_manager.findfont = findfont
        mpl.backends.backend_agg.findfont = findfont
        
        font_family = "NanumBarunGothic"
    return font_family

plt.rc("font", family=get_font_family())
plt.rc("axes", unicode_minus=False)

# 2 ë°ì´í„° ì…‹ ë¡œë“œ

In [14]:
path = glob.glob('data/*.csv')
path

['data\\content_total.csv',
 'data\\review_2021.csv',
 'data\\review_2022.csv',
 'data\\total_tweet.csv',
 'data\\twitter_2021.csv',
 'data\\twitter_2022.csv',
 'data\\zepeto_jp_review.csv',
 'data\\zepeto_kr_review.csv',
 'data\\zepeto_us_review.csv',
 'data\\zepeto_youtube.csv']

In [15]:
custom = pd.read_csv(path[-1], encoding = 'utf-8')
custom

                                                 title  viewcount
0    ğŸŒ¹ (ì¬ì—…) ì‰¬ìš´ ì œí˜í†  ì»¤ìŠ¤í…€ ê°•ì¢Œ | ì»¬ëŸ¬í”¼ì»¤ í•„ìš” ì—†ìŒ | ì •ì§€í™”ë©´ìœ¼ë¡œ ì„¤ëª…í•´...       9000
1                                         ì œí˜í†  ì»¤ìŠ¤í…€ í•˜ëŠ”ë²•!      90000
2                                  ì œí˜í†  | ì¸ì–´ê³µì£¼ ëŒ€ë¦¬ì»¤ìŠ¤í…€ ê³¼ì •       9900
3              #ì œí˜í† #ì œí˜í† ì»¤ìŠ¤í…€#ZEPETO ì œí˜í†  ì—¬ìº ì»¤ìŠ¤í…€ ê°•ì¢Œ 20íƒ„/ì„¤ì°¸       9800
4                   [ ì œí˜í†  ì»¤ìŠ¤í…€ ] ê³ ê¸‰ì§„ ê·€ì—¬ì›€ìƒ ì•„ê¸°ìº ì»¤ìŠ¤í…€ ê³¼ì • ì˜ìƒ       9700
..                                                 ...        ...
641                                            ì œí˜í† ë†€ì•„ë³´ê¸°          2
642      ì œí˜í† ë¥¼ í•˜ë©´ ì•Œì•„ì•¼í•˜ëŠ” ìš©ì–´ë¼ê³ ? / ì œí˜í†  / ì œí˜í† ì•„ì´ë”” ìƒë©” ì°¸ê³  /ì²«ì˜ìƒ          0
643                                               ê·¸ ìƒˆë¼          0
644                                     ì•„ìœ¤ì´ì˜ ì œí˜í†  ì¶”ì²œì½”ë””ğŸ˜„          0
645                             ì„¸ì„ì´ì˜ ì¸ì‹¸ ì½”ë”” -ì œí˜í†  (ì„¸ì„ë£¨ë¹„)          0

[646 rows x 2 columns]

In [16]:
custom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646 entries, 0 to 645
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      646 non-null    object
 1   viewcount  646 non-null    int64
dtypes: int64(1), object(1)
memory usage: 10.2+ KB

In [17]:
custom.sort_values('viewcount', ascending = False)

                                                 title  viewcount
21                           ì œí˜í†  ì•„ë‹ˆì—ìš”. ì§ì ‘ ê·¸ë ¸ì–´ìš”. ì¸ì¦í• ê»˜ìš”ã…      783000
27                                       ì–´í”Œë³´ì •ë¹¼ëŠ” ì¤‘êµ­ì¸ ì–¸ë‹ˆ     702000
37                           ì•„ì§ë„ ë†€ì´ë™ì‚° ì‹¤ì œë¡œ ê°€ë‹ˆ? ì œí˜í†  ë¸Œì´ë¡œê·¸     673000
39   You'll Make the Change + Save the Day (FnF x P...     633000
41   /Pibby - Youâ€™ll Make The Change (/Pibby VIP Re...     611000
..                                                 ...        ...
641                                            ì œí˜í† ë†€ì•„ë³´ê¸°          2
642      ì œí˜í† ë¥¼ í•˜ë©´ ì•Œì•„ì•¼í•˜ëŠ” ìš©ì–´ë¼ê³ ? / ì œí˜í†  / ì œí˜í† ì•„ì´ë”” ìƒë©” ì°¸ê³  /ì²«ì˜ìƒ          0
643                                               ê·¸ ìƒˆë¼          0
644                                     ì•„ìœ¤ì´ì˜ ì œí˜í†  ì¶”ì²œì½”ë””ğŸ˜„          0
645                             ì„¸ì„ì´ì˜ ì¸ì‹¸ ì½”ë”” -ì œí˜í†  (ì„¸ì„ë£¨ë¹„)          0

[646 rows x 2 columns]

In [20]:
custom['viewcount']

0       9000
1      90000
2       9900
3       9800
4       9700
       ...
641        2
642        0
643        0
644        0
645        0
Name: viewcount, Length: 646, dtype: int64

In [21]:
cm = custom[custom['title'].str.contains('ì»¤ìŠ¤í…€')].sort_values('viewcount', ascending = False)
cm

                                                 title  viewcount
164                               ğŸŒ¸ë²šê½ƒì†Œë…€ ì»¤ìŠ¤í…€ğŸŒ¸ ì œí˜í†  ì–¼êµ´ë§Œë“¤ê¸°     279000
259              [ì œí˜í†  ì»¤ìŠ¤í…€]ğŸ’—ëˆˆ ì»¤ìŠ¤í…€ ê°•ì¢ŒğŸ€/ zepeto / ì œí˜í†  ì»¤ìŠ¤í…€     138000
274                        [ì œí˜í† ] ì œí˜í†  ì–¼êµ´ë§Œë“¤ê¸°! ë‘ê¸° ë‹®ì€ ì»¤ìŠ¤í…€~     115000
282                            ì œí˜í†  ì»¤ìŠ¤í…€ - ë„ë„í•œ ì—¬ìº ì»¤ìŠ¤í…€ ì„¤ì°¸     104000
283                     â­ê¸°ë³¸ìœ¼ë¡œ ì»¤ìŠ¤í…€â­ ì œí˜í†  ì–¼êµ´ë§Œë“¤ê¸° (+ì•½ê°„ì˜ ìˆ˜ì •)     102000
..                                                 ...        ...
633                                     ğŸ’™í† ë¼ìƒ ì»¤ìŠ¤í…€ğŸ° (ì„¤ì°¸)         11
634  ì™„ì „ì˜ˆìœì»¤ë§ˆë¥¼ 2ë¶„ì•ˆì— ë§Œë“¤ìˆ˜ìˆë‹¤ê³ ??? +ì¶”ì²œ í¬ë¦¬í…œ ì¶”ì²œ [ì œí˜í† ] #ì œí˜í†  #...         10
635                                 ë°°ë“œì›Œì¦ˆ ì»¤ìŠ¤í…€ìœ¼ë¡œ ë²„ê·¸(?)ì°¾ê¸°         10
636             [ì œí˜í†  ì»¤ìŠ¤í…€] ì´ˆê°„ë‹¨ ì œí˜í†  ê·€ì—¬ìš´ ì—¬ì•„ìº ì»¤ìŠ¤í…€â£ï¸ (ì„¸ë¡œì˜ìƒ)          6
639  ìˆœë°± ì»¤ìŠ¤í…€/ íŒ”ë ˆíŠ¸ í•„ìš”ì—†ìŒ/ ì¶œì²˜ ë‚¨ê²¨ì£¼ì„¸ìš”/ ì œí˜í†  ì»¤ìŠ¤í…€/ ì˜ˆìœ ì—¬ìº ì»¤ìŠ¤í…€...          3

[489 rows x 2 columns]

In [22]:
cm.describe()

           viewcount
count     489.000000
mean     7446.124744
std     20329.043189
min         3.000000
25%       233.000000
50%       887.000000
75%      5200.000000
max    279000.000000

In [25]:
cm.reset_index(inplace = True)

In [27]:
cm.reset_index(inplace = True)

In [28]:
cm

,level_0,index,title,viewcount
0,0,164,ğŸŒ¸ë²šê½ƒì†Œë…€ ì»¤ìŠ¤í…€ğŸŒ¸ ì œí˜í† ì–¼êµ´ë§Œë“¤ê¸°,279000
1,1,259,[ì œí˜í† ì»¤ìŠ¤í…€]ğŸ’—ëˆˆ ì»¤ìŠ¤í…€ ê°•ì¢ŒğŸ€/ zepeto / ì œí˜í† ì»¤ìŠ¤í…€,138000
2,2,274,[ì œí˜í† ] ì œí˜í† ì–¼êµ´ë§Œë“¤ê¸°! ë‘ê¸° ë‹®ì€ ì»¤ìŠ¤í…€~,115000
3,3,282,ì œí˜í† ì»¤ìŠ¤í…€ - ë„ë„í•œ ì—¬ìº ì»¤ìŠ¤í…€ ì„¤ì°¸,104000
4,4,283,â­ê¸°ë³¸ìœ¼ë¡œ ì»¤ìŠ¤í…€â­ ì œí˜í† ì–¼êµ´ë§Œë“¤ê¸° (+ì•½ê°„ì˜ ìˆ˜ì •),102000
...,...,...,...,...
484,484,633,ğŸ’™í† ë¼ìƒ ì»¤ìŠ¤í…€ğŸ° (ì„¤ì°¸),11
485,485,634,ì™„ì „ì˜ˆìœì»¤ë§ˆë¥¼ 2ë¶„ì•ˆì— ë§Œë“¤ìˆ˜ìˆë‹¤ê³ ??? +ì¶”ì²œ í¬ë¦¬í…œ ì¶”ì²œ [ì œí˜í† ] #ì œí˜í† #...,10
486,486,635,ë°°ë“œì›Œì¦ˆ ì»¤ìŠ¤í…€ìœ¼ë¡œ ë²„ê·¸(?)ì°¾ê¸°,10
487,487,636,[ì œí˜í† ì»¤ìŠ¤í…€] ì´ˆê°„ë‹¨ ì œí˜í† ê·€ì—¬ìš´ ì—¬ì•„ìº ì»¤ìŠ¤í…€â£ï¸ (ì„¸ë¡œì˜ìƒ),6
488,488,639,ìˆœë°± ì»¤ìŠ¤í…€/ íŒ”ë ˆíŠ¸ í•„ìš”ì—†ìŒ/ ì¶œì²˜ ë‚¨ê²¨ì£¼ì„¸ìš”/ ì œí˜í† ì»¤ìŠ¤í…€/ ì˜ˆìœ ì—¬ìº ì»¤ìŠ¤í…€...,3

In [30]:
cm = cm.drop('index', axis=1)
cm

     level_0                                              title  viewcount
0          0                               ğŸŒ¸ë²šê½ƒì†Œë…€ ì»¤ìŠ¤í…€ğŸŒ¸ ì œí˜í†  ì–¼êµ´ë§Œë“¤ê¸°     279000
1          1              [ì œí˜í†  ì»¤ìŠ¤í…€]ğŸ’—ëˆˆ ì»¤ìŠ¤í…€ ê°•ì¢ŒğŸ€/ zepeto / ì œí˜í†  ì»¤ìŠ¤í…€     138000
2          2                        [ì œí˜í† ] ì œí˜í†  ì–¼êµ´ë§Œë“¤ê¸°! ë‘ê¸° ë‹®ì€ ì»¤ìŠ¤í…€~     115000
3          3                            ì œí˜í†  ì»¤ìŠ¤í…€ - ë„ë„í•œ ì—¬ìº ì»¤ìŠ¤í…€ ì„¤ì°¸     104000
4          4                     â­ê¸°ë³¸ìœ¼ë¡œ ì»¤ìŠ¤í…€â­ ì œí˜í†  ì–¼êµ´ë§Œë“¤ê¸° (+ì•½ê°„ì˜ ìˆ˜ì •)     102000
..       ...                                                ...        ...
484      484                                     ğŸ’™í† ë¼ìƒ ì»¤ìŠ¤í…€ğŸ° (ì„¤ì°¸)         11
485      485  ì™„ì „ì˜ˆìœì»¤ë§ˆë¥¼ 2ë¶„ì•ˆì— ë§Œë“¤ìˆ˜ìˆë‹¤ê³ ??? +ì¶”ì²œ í¬ë¦¬í…œ ì¶”ì²œ [ì œí˜í† ] #ì œí˜í†  #...         10
486      486                                 ë°°ë“œì›Œì¦ˆ ì»¤ìŠ¤í…€ìœ¼ë¡œ ë²„ê·¸(?)ì°¾ê¸°         10
487      487             [ì œí˜í†  ì»¤ìŠ¤í…€] ì´ˆê°„ë‹¨ ì œí˜í†  ê·€ì—¬ìš´ ì—¬ì•„ìº ì»¤ìŠ¤í…€â£ï¸ (ì„¸ë¡œì˜ìƒ)          6
488      488  ìˆœë°± ì»¤ìŠ¤í…€/ íŒ”ë ˆíŠ¸ í•„ìš”ì—†ìŒ/ ì¶œì²˜ ë‚¨ê²¨ì£¼ì„¸ìš”/ ì œí˜í†  ì»¤ìŠ¤í…€/ ì˜ˆìœ ì—¬ìº ì»¤ìŠ¤í…€...          3

[489 rows x 3 columns]

In [32]:
cm = cm.rename(columns={'level_0':'number'})
cm

     number                                              title  viewcount
0         0                               ğŸŒ¸ë²šê½ƒì†Œë…€ ì»¤ìŠ¤í…€ğŸŒ¸ ì œí˜í†  ì–¼êµ´ë§Œë“¤ê¸°     279000
1         1              [ì œí˜í†  ì»¤ìŠ¤í…€]ğŸ’—ëˆˆ ì»¤ìŠ¤í…€ ê°•ì¢ŒğŸ€/ zepeto / ì œí˜í†  ì»¤ìŠ¤í…€     138000
2         2                        [ì œí˜í† ] ì œí˜í†  ì–¼êµ´ë§Œë“¤ê¸°! ë‘ê¸° ë‹®ì€ ì»¤ìŠ¤í…€~     115000
3         3                            ì œí˜í†  ì»¤ìŠ¤í…€ - ë„ë„í•œ ì—¬ìº ì»¤ìŠ¤í…€ ì„¤ì°¸     104000
4         4                     â­ê¸°ë³¸ìœ¼ë¡œ ì»¤ìŠ¤í…€â­ ì œí˜í†  ì–¼êµ´ë§Œë“¤ê¸° (+ì•½ê°„ì˜ ìˆ˜ì •)     102000
..      ...                                                ...        ...
484     484                                     ğŸ’™í† ë¼ìƒ ì»¤ìŠ¤í…€ğŸ° (ì„¤ì°¸)         11
485     485  ì™„ì „ì˜ˆìœì»¤ë§ˆë¥¼ 2ë¶„ì•ˆì— ë§Œë“¤ìˆ˜ìˆë‹¤ê³ ??? +ì¶”ì²œ í¬ë¦¬í…œ ì¶”ì²œ [ì œí˜í† ] #ì œí˜í†  #...         10
486     486                                 ë°°ë“œì›Œì¦ˆ ì»¤ìŠ¤í…€ìœ¼ë¡œ ë²„ê·¸(?)ì°¾ê¸°         10
487     487             [ì œí˜í†  ì»¤ìŠ¤í…€] ì´ˆê°„ë‹¨ ì œí˜í†  ê·€ì—¬ìš´ ì—¬ì•„ìº ì»¤ìŠ¤í…€â£ï¸ (ì„¸ë¡œì˜ìƒ)          6
488     488  ìˆœë°± ì»¤ìŠ¤í…€/ íŒ”ë ˆíŠ¸ í•„ìš”ì—†ìŒ/ ì¶œì²˜ ë‚¨ê²¨ì£¼ì„¸ìš”/ ì œí˜í†  ì»¤ìŠ¤í…€/ ì˜ˆìœ ì—¬ìº ì»¤ìŠ¤í…€...          3

[489 rows x 3 columns]